.logout{
	text-align: right;
	background-color: gray;
}

.logout2{
	color: red;
	text-decoration: underline;
	margin-left: 2em;
	font-size: 100%;
}
.size{
	font-size: 100%;
}

/* タイトル */
.title {
	text-align: center;
	margin-top: 1em;

}

.a {
	margin-bottom: 1em;
}

.aa{
	margin-left: 1em;
}

.sentence {
	margin-left: 8em;
}

return{
	text-decoration: underline;
}